@charset "utf-8";

@font-face{
  font-family: NTS;
  font-weight: normal;
  font-style: normal;
  src: url(.eot);
  src: local(Noto Sanas KR),
  url(.eot?#iefix) format("embedded-opentype"),
  url(woff2) format(""),
  url(woff) format("")
  url(otf) format("opentype"),
  url(.svg#NotoSansKR) format("svg");
}
/* reset */
body, ul, p{margin: 0;padding: 0;}
ul, li{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
header, nav, section{display: block;}

/* common */
.blind{width: 1px;height: 1px;overflow: hidden; border: 0;position: absolute;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);}
.clearfix::after{content: ""; clear: both; display: block;}

/* style */
#header{position: relative; height: 50px;background: pink;}
#header.active::before{content: "";display: block; position: absolute; top: 50px; width: 100%;height: 50px;background-color: lavender;}
#gnb{height: 50px;line-height: 50px; text-align: center;}
#gnb a{display: block;padding: 0 20px;}
#gnb> ul> li{display: inline-block; position: relative;}
#gnb ul li ul{width: 300px; position: absolute;top: 50px;left: 0;}
#gnb ul li ul li{float: left;}
#gnb> ul> li:hover>a, #gnb> ul> li>a:focus, #gnb> ul> li.on>a{color: lightcoral;}
#gnb ul li ul li:hover a, #gnb ul li ul li a:focus, #gnb ul li ul li.on a{color: rgb(51, 233, 60);}